bin/
dist/
webapp/src/manifest.ts
server/manifest.go

# Dependencies
node_modules/

# Test output
server/coverage.txt
report.xml
webapp/junit.xml
e2e-tests/results/
e2e-tests/test-results/

# Mac
.DS_Store

# Jetbrains
.idea/

# VS Code
.vscode/
